/*Font Styles*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');

/*Asterisk Wildcard Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Rochester', sans-serif;
}

h1 {
    font-family: 'Rochester' ,sans-serif;
    color: #FF008A;
    letter-spacing: 9px;
}

ul {
    font-family: 'Overpass' , sans-serif;
}

    /*Header*/
header {
    background-color: #E1F9EB;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #FF008A;

}

header a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

.navbar > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #FF008A;
}

/* Dropdown toggle for the NavBar */
nav {
    position: absolute;
    background-color: #E1F9EB;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}


/*Main*/
main {
    background-color: red;
    /* The main element will take any remaining space and push down the footer */
    flex: 1 0 auto;
}

/*Footer*/
footer{
    background-color: yellowgreen;
}