/*Font Styles*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');

/*Asterisk Wildcard Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Rochester', sans-serif;
}

h1 {
    font-family: 'Rochester' ,sans-serif;
}

/*Header*/
header {
    background-color: aqua;

}

/*Main*/
main {
    background-color: red;
    /* The main element will take any remaining space and push down the footer */
    flex: 1 0 auto;
}

/*Footer*/
footer{
    background-color: yellowgreen;
}