/*Font Styles*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

/*Asterisk Wildcard Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General body styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Rokkitt', sans-serif;
}

h1,
h2 {
    font-family: 'Alegreya', sans-serif;
    color: #c5c1a7;
    letter-spacing: 9px;
}

ul {
    font-family: 'Overpass', sans-serif;
}

/*Header*/
header {
    background-color: #253a4a;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #c5c1a7;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #c5c1a7;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#navbar>li {
    margin-bottom: 1em;
    margin-right: 20px;
}

.active {
    border-bottom: 1px solid #c5c1a7;
}

/* Dropdown toggle for the NavBar */
nav {
    position: absolute;
    background-color: #253a4a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #c5c1a7;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle {
    font-size: 2rem;
}


/*Main*/
main {

    /* The main element will take any remaining space and push down the footer */
    flex: 1 0 auto;
    /*push the main content down*/
    margin-top: 40px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-jonathanborba-2983101.jpg") no-repeat right center/cover;
    position: relative;
}

#hero-text {
    /* the last rgba value is to set the transparency */
    background-color: rgba(15, 13, 15, 0.5);
    font-size: 100%;
    bottom: 30px;
    width: 80%;
    min-height: 100px;
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
}

#hero-text>h2 {
    color: #c5c1a7;
}

/*About styles */
#about>h2 {
    background-color: rgba(15, 13, 15, 0.6);
    font-style: italic;
    padding-left: 20px;
    width: 60%;
}

#about>p {
    width: 75%;
    font-size: larger;
}

#intro {
    font-style: italic;
    padding-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

/*Breakfast styles in index*/
.menu {
    padding-left: 10px;
}

.menu-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.menu>h3 {
    padding: 15px;
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 10px;
}

.menu>a {
    padding-top: 10px;
    color: #1C00FF;
}

.menu>p {
    width: 70%;
}

/*lunch Styles*/
#lunch-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 20px;
}

/*Styles For All Recipe pages breakfast, lunch, dinner*/
ul {
    list-style-type: none;
}

#recipes h1 {
    padding-top: 15px;
    color: #253a4a;
    margin: 0 auto;
    width: fit-content;
}

.container {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #c5c1a7;
}

.container img {
    width: 100%;
    object-fit: cover;
}

.lists {
    background-color: #c5c1a7;
    display: flex;
}

.lists h3 {
    color: #253a4a;
    margin-left: 0;
    /* Reset margin */
    margin-right: 10px;
    text-decoration: underline;
}

.list {
    float: left;
    /* Float lists to the left */
    width: 50%;
    /* Equal width for both lists */
    box-sizing: border-box;
    /* Include padding and border in the width */
    padding-right: 35px;
    padding-left: 5px;
}

.list summary {
    color: #1C00FF;
    text-transform: lowercase;
    font-size: medium;
}

/*Subscribe page styles*/
.cropped-heading {
    position: absolute;
    padding-top: 60px;
}

#subscribe-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

#signup {
    padding-top: 100px;
    padding-bottom: 10px;
}

#photos {
    width: 100%;
    margin: 0 auto;
}

#photos img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

/*Confirmation styles*/
#subscribed {
    padding-top: 60px;
}

#closing p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-style: italic;
}

/*Footer*/
#social-media {
    text-align: center;
    padding: 11px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #253a4a;
}

#social-media i {
    font-size: 150%;
    padding: 6%;
    color: #c5c1a7;

}



/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding-right: 50px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #navbar {
        display: flex;
    }

    #navbar>li {
        padding-left: 1px;
        margin-right: 4px;
    }

    .nav-toggle {
        /*to hide the toogle label*/
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero*/
    #hero-text {
        width: 400px;
        left: 20px;
    }

    /*About Styles*/
    #about>p {
        width: 95%;
        font-size: larger;
    }

    #about>h2 {
        width: 25%;
    }

    .menu>p {
        width: 90%;
        font-size: x-large;
    }

    /*Recipes styles */
    .lists {
        font-size: x-large;
    }

    /*Subscribe styles*/
    main {
        font-size: x-large;
    }

    .cropped-heading {
        position: absolute;
        padding-top: 90px;
    }

    #subscribe-form {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #signup {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    /* Adjust the margin-bottom of text-input class */
    .text-input {
        margin-bottom: 10px;
        margin-top: 10px;
        /* Add space below each input */
    }

    /* Adjust the margin-bottom of checkbox divs */
    .checkbox div {
        margin-bottom: 5px;
        /* Add space below each checkbox */
    }
}

/*Media Query for large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #navbar a:hover {
        border-bottom: 1px solid #c5c1a7;
    }

    /*recipe styles for index*/
    .menu-img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-top: 20px;
    }

    /*Lunch recipes Starts Here*/
    .menu-one {
        display: flex;
    }

    /*Lunch File styles*/
    #recipes h1 {
        color: #253a4a;
        margin: 0 auto;
        width: fit-content;
    }

    .lists h3 {
        text-decoration: underline;
    }

    .container {
        flex-direction: row;
    }

    .container img {
        width: 25%;
        min-width: 25%;
        height:100%;
    }

    .lists {
        display: flex;
    }

    .list {
        margin-right: 20px;
        /* Adjust margin as needed */
    }

    .list li {
        font-family: Rokkitt;
        font-size: x-large;
    }

    #closing p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: x-large;
        font-style: italic;
    }
}